<div class="col-md-4 mx-auto">
  <div class="card text-center">
    <div class="card-header">
      <h3>Nuevo pedido</h3>
    </div>
    <div class="card-body">
      <form action="/pedidos/new-pedido" method="POST">
                <div class="form-group">
                    <input type="date" name="fecha" class="form-control" placeholder="Fecha"
                    ><small id="passwordHelp" class="form-text text-muted">Seleccionar fecha a partir de ma単ana</small>
                </div>
                 <div class="form-group">
                    <input type="time" name="hora" class="form-control" placeholder="Hora"
                    >
                </div>
                <div class="form-group">
                    <input type="text" name="cliente" class="form-control" placeholder="Cliente"
                    >
                </div>
                <div class="form-group">
                    <input type="number" name="telefono" class="form-control" placeholder="Telefono"
                    >
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Tipo de torta</label>
                    <select type="text" name="tipo" class="form-control" placeholder="Tipo pastel">
                    <option>Normal</option>
                    <option>Fria</option>
                    <option>Genovesa</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="exampleFormControlSelect1">Tama単o</label>
                    <select type="text" name="tama単o" class="form-control" placeholder="Tama単o">
                    <option>Octavo</option>
                    <option>Cuarto</option>
                    <option>Media</option>
                    <option>Libra</option>
                    <option>Libra y cuarto</option>
                    <option>2 Libras</option>
                    </select>
                </div>
                <div class="form-group">
                    <input type="text" name="decoracion" class="form-control" placeholder="Decoracion"
                    >
                </div>
                
                 <div class="form-group">
                    <input type="number" name="valor" class="form-control" placeholder="Valor"
                    >
                </div>
                 <div class="form-group">
                    <textarea type="text" name="detalles" class="form-control" placeholder="Detalles"
                    ></textarea>
                </div>
                 <div class="form-group">
                    <button class="btn btn-primary btn-block" type="submit">
                        Guardar 
                    </button>
                </div>
      </form>
    </div>
  </div>
</div>

