<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<section class="card">
  <div class="card-body">
    <h1>Mision</h1>
    <p>
Somos una empresa cuya misión es ofrecer productos de repostería de la más alta calidad con un excelente sabor y aun precio accesible.
Establecer un liderazgo con la colaboración y creatividad de nuestro talento  humano, utilizando las mejores materias primas del mercado para satisfacer a nuestros clientes con un servicio amable y oportuno.

Garantizamos la confiabilidad de los productos que procesamos y distribuimos, apoyados con una continua asesoría que asegura una mayor productividad y óptima elaboración de los mismos.
    </p>
  </div>
</section>
<p>

  
</p>
<section class="card">
  <div class="card-body">
    <h1>Vision</h1>
    <p>
Ser una empresa líder en el negocio de la repostería reconocida en el departamento y sus alrededores como la mejor alternativa del mercado. Destacarnos por la calidad y sabor de nuestros productos, atención y servicio al cliente.  
Utilizando los más altos estándares de calidad, innovando continuamente los sabores y tecnología de vanguardia en nuestros procesos productivos.
    </p>
  </div>
</section>

	
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Include the above in your HEAD tag --->
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href='http://fonts.googleapis.com/css?family=Shadows+Into+Light' rel='stylesheet' type='text/css'>
  
  
<div class="container">
	<div class="row">
    <div class="col-md-12">
      <div class="col-md-6 .col-md-offset-3">
        <ul class="social">      
         <li class="facebook"><a href="https://www.facebook.com/Pasteleria-Nancy-550421908634620"><i class="fa fa-facebook fa-3x"></i></a></li>
         <li class="twitter"><a href="http://twitter.com"><i class="fa fa-twitter fa-3x"></i></a></li>
         <li class="instagram"><a href="http://instagram.com/pasteleria.nancy/"><i class="fa fa-instagram fa-3x"></i></a></li>
         <li class="whatsapp"><a href="https://wa.me/+573155287225"><i class="fab fa-whatsapp fa-3x"></i></a></li>
        </ul>
       </div>
    </div>
 </div>

 