 <div class="container">
        <header class="row">
            <div class="col-lg-12 text-center">
                 <img src="/img/logopast.png" alt="Pasteleria Nancy Logo" class="animate__bounceIn" width="400" height="400">
            </div>

            
        </header>
    </div>

  <section>
    <div class="container">
     <div class="jumbotron">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/1.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="panel-body">Tortas en pastillaje</h2>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>

  <div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="img/2.jpg">
        <img src="img/2.jpg" alt="Lights" style="width:100%">
        <div class="caption">
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="img/3.jpg">
        <img src="img/3.jpg" alt="Nature" style="width:100%">
        <div class="caption">
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="img/4.jpg">
        <img src="img/4.jpg" alt="Fjords" style="width:100%">
        <div class="caption">
        </div>
      </a>
    </div>
  </div>
</div>
<p>
    
</p>
  <section>
    <div class="container">
     <div class="jumbotron">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/5.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="panel-body">Tortas en crema</h2>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>
 <div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="img/6.jpg">
        <img src="img/6.jpg" alt="Lights" style="width:100%">
        <div class="caption">
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="img/7.jpg">
        <img src="img/7.jpg" alt="Nature" style="width:100%">
        <div class="caption">
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="img/8.jpg">
        <img src="img/8.jpg" alt="Fjords" style="width:100%">
        <div class="caption">
        </div>
      </a>
    </div>
  </div>
</div>
<p>

</p>
<div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="img/9.jpg">
        <img src="img/9.jpg" alt="Lights" style="width:100%">
        <div class="caption">
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="img/10.jpg">
        <img src="img/10.jpg" alt="Nature" style="width:100%">
        <div class="caption">
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="img/11.jpg">
        <img src="img/11.jpg" alt="Fjords" style="width:100%">
        <div class="caption">
        </div>
      </a>
    </div>
  </div>
</div>
<p>

</p>
   <section>
    <div class="container">
     <div class="jumbotron">
      <div class="row align-items-center">
        <div class="col-lg-6 order-lg-2">
          <div class="p-5">
            <img class="img-fluid rounded-circle" src="img/12.jpg" alt="">
          </div>
        </div>
        <div class="col-lg-6">
          <div class="p-5">
            <h2 class="panel-body">Tortas frias y genovesas</h2>
          </div>
        </div>
      </div>
      </div>
    </div>
  </section>
 <div class="row">
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="img/13.jpg">
        <img src="img/13.jpg" alt="Lights" style="width:100%">
        <div class="caption">
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="img/14.jpg">
        <img src="img/14.jpg" alt="Nature" style="width:100%">
        <div class="caption">
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-4">
    <div class="thumbnail">
      <a href="img/15.jpg">
        <img src="img/15.jpg" alt="Fjords" style="width:100%">
        <div class="caption">
        </div>
      </a>
    </div>
  </div>
</div>